# Dependencies
node_modules/
# Expo
.expo/
.expo-shared/
# Build
web-build/
dist/
# Environment
.env
.env.local
# Logs
*.log
npm-debug.log*
# OS
.DS_Store
Thumbs.db
# Firebase
# google-services.json  <- sementara di-comment biar EAS Build bisa baca
# GoogleService-Info.plist
